*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins', sans-serif;
    background:linear-gradient(180deg,#06142C,#0A1F44);
    color:white;
    text-align:center;
    overflow-x:hidden;
}

/* HERO */
.hero{
    padding:80px 20px;
    animation:fadeIn 1.5s ease;
}

.hero h1{
    font-size:42px;
    letter-spacing:3px;
    color:#C9A227;
}

.subtitulo{
    font-style:italic;
    opacity:0.9;
    color:#ffffff;
}

/* DATOS */
.datos{
    padding:60px 20px;
    background:#0A1F44;
    border-top:3px solid #C9A227;
    border-bottom:3px solid #C9A227;
}

.nombre{
    font-family:'Poppins', sans-serif;
    font-size:42px;
    color:#C9A227;
}

.cargo{
    font-weight:bold;
    margin-bottom:20px;
    letter-spacing:2px;
}

.fecha-box{
    margin:20px 0;
}

.dia{
    font-size:60px;
    font-weight:bold;
    color:#C9A227;
}

/* BOTONES */
.btn{
    background:#C9A227;
    color:#06142C;
    padding:12px 25px;
    border:none;
    border-radius:30px;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    background:white;
    transform:scale(1.05);
}

/* CONTADOR */
.contador-section{
    padding:60px 20px;
}

.contador{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.contador div{
    background:#C9A227;
    color:#06142C;
    padding:20px;
    border-radius:15px;
    width:90px;
    font-weight:bold;
}

.contador span{
    font-size:24px;
}

/* RSVP */
.rsvp{
    padding:60px 20px;
    background:#06142C;
    border-top:3px solid #C9A227;
}

form{
    max-width:400px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:10px;
}

input, textarea{
    padding:10px;
    border-radius:10px;
    border:none;
}

.radio-group{
    text-align:left;
}

/* BOTON MUSICA */
.btn-musica{
    position:fixed;
    top:20px;
    right:20px;
    background:#C9A227;
    color:#06142C;
    border:none;
    border-radius:50%;
    width:50px;
    height:50px;
    font-size:20px;
    cursor:pointer;
    font-weight:bold;
}

/* FOOTER */
footer{
    padding:40px;
    background:#0A1F44;
    border-top:2px solid #C9A227;
}

/* ANIMACION */
@keyframes fadeIn{
    from{opacity:0; transform:translateY(-20px);}
    to{opacity:1; transform:translateY(0);}
}

.pase-box{
    margin:20px auto;
    padding:18px;
    max-width:400px;
    background:rgba(201,162,39,0.15);
    border:2px solid #C9A227;
    border-radius:15px;
    font-weight:bold;
    font-size:16px;
    backdrop-filter:blur(4px);
}